* a:link, a:visited {
    text-decoration: none;
    text-decoration-style:none;
}
* a:hover, a:active {
    text-decoration-line:underline;
}
* {
    font-family: Helvetica;
    padding: 0px;
    margin: 0px;
}
#header {
    font-size: 24px;
    color: #87cfffd0;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    font-size:larger;
    min-width: fit-content;
    min-height:fit-content;
    flex: 2;
    height: 50px;
    background-color: #1f2937;
    box-shadow: 2px 2px rgb(114, 114, 114);
}
nav li {
    display: flex;
    margin: 10px;
    align-items: center;
    list-style:none;
    flex-direction: row;
    display: inline-flex;
    font-size: 18px;
}
nav a {
    color: #e5e7eb;
}
#search {
    margin-inline-start: 20px;
    width: 400px;
}